<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @landmark.name %></h1>
    <h2><%= @landmark.year_completed %></h2>

    <form action="/landmarks/<%=@landmark.id%>/edit" method="POST">
        <input id ="hidden" name="id" type="hidden" value="edit">
        <input type="submit" value="Edit">
    </form>
  </body>
</html>
